/** disables annoying profile customization **/
@import url("https://ukriu.github.io/cssCord/Other/blandProfile.css");

/** compact channels **/
@import url("compact-channels.css");

/** compact member list **/
@import url("compact-members.css");

/** better pickers **/ 
@import url("better-pickers.css");

/** move collapse icon to before text **/
.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}

/** larger user profile **/
div[aria-label="User Profile Modal"] {
  transform: scale(1.20);
  > div[class^="root_"] {
    max-height: 60rem;
    > div {
      height: 100%;
    }
  }
}